article.book {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 25px;
    background-color: hsla(0, 0%, 100%, 0.5);
    border-radius: 13px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

    width: intrinsic;
    width: -moz-max-content;
    width: -webkit-max-content;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: 410px) and (max-width: 730px) {
        width: calc(100% - 110px);
        margin-left: 30px;
        margin-right: 30px;
    }

    @media (max-width: 410px) {
        width: calc(100% - 60px);
        margin-left: 5px;
        margin-right: 5px;
    }
}

.book-info {
    display: flex;
    flex-flow: row wrap;
}

.book-image {
    width: 300px;

    @media (min-width: 730px) {
        margin-right: 25px;
    }

    @media (min-width: 410px) and (max-width: 730px) {
        margin-left: auto;
        margin-right: auto;
    }

    @media (max-width: 410px) {
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }
}

img.book-front {
    display: block;
    width: 100%;
    height: auto;
}

.book-detail {
    display: flex;
    flex-flow: column;
    margin-top: 0;

    @media (min-width: 1000px) {
        width: 565px;
    }

    @media (min-width: 730px) and (max-width: 1000px) {
        width: calc(100vw - 435px);
    }

    @media (max-width: 730px) {
        width: auto;
        margin-top: 20px;
    }
}

.book-events > ul {
    list-style: none;
    margin-top: 5px;
}

.book-authors {
    list-style: none;
    margin-left: 0;
}

.book-price {
    border: none;
    border-width: 0;
    margin-bottom: 15px;

    tbody, td {
        border: none;
        border-width: 0;
    }

    tr {
        background: transparent !important;
        border-bottom-style: dashed;
        border-bottom-width: 1px;
        border-bottom-color: gray;
    }

    td {
        padding: 0 3px;
    }

    td.price {
        text-align: right;
    }
}

.book-actions {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
