.book-list {
    margin-left: 0;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 0;

    @media (min-width: 400px) {
        margin-left: 17.5px;
        margin-right: 17.5px;
    }

    @media (min-width: 340px) and (max-width: 400px) {
        margin-left: auto;
        margin-right: auto;
    }
}

.book-list > li {
    display: flex;
    flex-flow: column;
    padding: 20px;
    background-color: hsla(0,0%,100%,0.5);
    border-radius: 13px;
    margin: 12.5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);

    @media (min-width: 400px) {
        width: 300px;
        margin-left: 12.5px;
        margin-right: 12.5px;
    }

    @media (min-width: 350px) and (max-width: 400px) {
        width: 300px;
        margin-left: 5px;
        margin-right: 5px;
    }

    @media (max-width: 350px) {
        width: auto;
        margin-left: 5px;
        margin-right: 5px;
    }
}

.book-list > li > h3 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}

.justify-bottom {
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    justify-content: flex-end;
    height: 100%;
}

img.home-book-front {
    display: block;
    width: 100%;
    height: auto;
}

.event-badge {
    display: inline-block;
    border: solid 1px;
    border-color: slategray;
    border-radius: 0.3em;
    padding: 3px 5px;
    background-color: hsl(0, 1%, 33%);
    color: white;
    list-style: none;
    line-height: 100%;
}

.event-badges {
    margin-bottom: 10px;
    margin-left: 0px;
    line-height: 180%;
}
