---
layout: default
---
<article class="book">

  <div>
    <h1 class="book-title">{{ page.title | escape }}</h1>

    <div class="book-info">
      <div class="book-image"><img src="{{ site.baseurl }}{{ page.book_image }}" alt="book front" class="book-front"></div>

      <div class="book-detail">
        <p>{{ page.description }}</p>

        <div class="book-events">
          {% for event in page.events %}
            <span class="event-badge">{{ event.title }}</span>
            <ul>
              <li>{{ event.date | date: "%Y.%m.%d" }}</li>
              <li>{{ event.place }}</li>
              <li>{{ event.table }}</li>
            </ul>
          {% endfor %}
        </div>

        <ul class="book-authors">
          {% for author in page.authors %}
            <li>
              {{ author.name }}
              <a href="https://twitter.com/{{ author.twitter }}"> <span class="twitter-icon"></span>@{{ author.twitter }}</a>
            </li>
          {% endfor %}
        </ul>

        <table class="book-price">
          <tbody>
            <tr><td>紙＋電子（即売会）</td><td class="price">¥{{ page.price.event_paper }}</td></tr>
            <tr><td>電子（即売会）</td><td class="price">¥{{ page.price.event_ebook }}</td></tr>
            <tr><td>電子（オンライン）</td><td class="price">¥{{ page.price.online_ebook }}</td></tr>
          </tbody>
        </table>

        <div class="book-actions">
          <a class="button" href="{{ page.sample }}">サンプル PDF</a>
          <a class="button" href="{{ page.online_sell }}">オンライン販売</a>
        </div>
      </div>
    </div>

    {% if content %}
      <div>
        {{ content }}
      </div>
    {% endif %}
  </div>
</article>
