---
layout: default
---

<div class="home">
  {% if page.title %}
    <h1 class="page-heading">{{ page.title }}</h1>
  {% endif %}

  {{ content }}

  {% if site.posts.size > 0 %}
  {% if page.list_title %}
    <h2 class="post-list-heading">{{ page.list_title }}</h2>
  {% endif %}
    <ul class="book-list">
      {% for post in site.posts %}
        <li>
          <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
          </h3>
          <div class="justify-bottom">
            <ul class="event-badges">
              {% for event in post.events %}
                <li class="event-badge">{{ event.title }}</li>
              {% endfor %}
            </ul>
            <a href="{{ post.url | relative_url }}"><img src="{{ site.baseurl }}{{ post.book_image }}" alt="book image" class="home-book-front"/></a>
          </div>
        </li>
      {% endfor %}
    </ul>
  {% endif %}

</div>
